@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f5f5f5;
  --foreground: #121212;
  --background-d: #0a0a0a;
  --foreground-d: #ededed;
  --h-nav: 60px;
  --z-nav: 1000;
  --z-sidebar: 2000;
}

@theme inline {
  --font-fira-code: var(--font-fira-code);
}

html {
  background: var(--background);
  color: var(--foreground);
}

html.dark {
  background: var(--background-d);
  color: var(--foreground-d);
}

html body {
  font-size: 14px;
}

.min-h-screen-nav {
  min-height: calc(100vh - var(--h-nav));
}

.h-screen-nav {
  height: calc(100vh - var(--h-nav));
}
